<center><h3><span class='text_span'>Оформление заказа</span></h3></center>


<%= form_for(@order) do |f| %>
<table class="cart_table">
<tr>
<td>
    <%= f.label :user_name, 'Имя' %>
    </td>
    <td>
    <%= f.text_field :user_name %>
</td>
</tr>
<tr>
<td>
    <%= f.label :email %>
    </td>
    <td>
    <%= f.text_field :email %>
</td>
</tr> 
<tr>
<td>
    <%= f.label :adress, 'Aдресс' %>
        </td>
    <td>
    <%= f.text_area :adress, rows: 3, cols: 40 %>
</td>
</tr>
<tr>
<td>
    <%= f.label :description, 'Доп. информация' %>&emsp;&emsp;
            </td>
    <td>
    <%= f.text_area :description, rows: 3, cols: 40 %>
</td>
</tr>
<tr>
<td colspan="2" align='right'>
    <%= f.submit 'Оформить', class: 'button' %>
</td>
</tr>
<tr>
<td colspan="2">
<% if @order.errors.any? %>
    <div>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</td>
</tr>
</table>
<% end %>



