<!DOCTYPE html>
<html>
<head>
  <title>Bag</title>
  <%= stylesheet_link_tag    "application","product_show", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<%= javascript_include_tag "mootools.js" %>
<%= javascript_include_tag "moocicle.js" %>

</head>
<%= render 'layouts/total_layouts' %>
</html>