<!DOCTYPE html>
<html>
<head>
  <title>Bag</title>
  <%= stylesheet_link_tag    "application","product_show", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="/assets/mootools.js"></script>
		<script type="text/javascript" src="/assets/moocicle.js"></script>

</head>
<body>
<div class='body'>
<div class='header'>
<div class='logo'>YOUR NEW BAG</div>
<div class='on_root'> <%= link_to 'на главную', root_path %>&emsp;&emsp;
<%= link_to 'o нас', root_path %>
</div>
</div>
<%= yield %>
<% if @sign_in_view!=false %>
<%= render partial: "users/user_sign_in_up" %>
<% end %>
</div>
</body>
</html>